<div class="card col-sm-12 col-md-12 col-lg-12 col-xl-12" class="noprint">

  <div class="card-header">



    <div class="card-body">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button id="list" class="btn btn-primary" data-original-title="Refreshr" onClick="history.go(0)" value="REFRESH">
                <i class="fa fa-sync fa-lg" aria-hidden="true"></i>
              </button>
            </div>
            <a href="javascript:window.print()">
              <button id="passreset" class="btn btn-primary" data-original-title="Password Reset">
                <i class="fa fa-print fa-lg" aria-hidden="true"></i>
              </button>
            </a>
            <div class="btn-group" role="group">
            </div>

            <div class="btn-group" role="group">
              <button id="react" class="btn btn-info" data-original-title="Activate">
                <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>