.modal-header{
    background-color: green;
}

.ng-invalid.ng-touched:not(form):not(div){
    border: solid 1px red;
    border-radius: 5px;
}

.ng-valid:not(form):not(div){
    border: solid 1px rgb(19, 214, 19);
    border-radius: 5px;
}


@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}


.requisicao{
    margin: 150px;
}


tr {
    color: black;
    background-color: black;
    border: solid 1px black;
}