.modal-header{
    background-color: green;
}
.ng-invalid.ng-touched:not(form):not(div){
    border: solid 1px red;
    border-radius: 5px;
}

.ng-valid:not(form):not(div){
    border: solid 1px #0fb80f;
    border-radius: 5px;
}