<div [@routerTransition]>
  <div class="container-fluid">


    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['']">home</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/configuracao']">configuracao</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/configuracao/usuario']">usuario</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">form</li>
      </ol>
    </nav>


    <header>
      <h2>
        <font color="black">Cadastro de Usuário</font>
      </h2>
    </header>

    <form [formGroup]="formUsuario">

      <div class="row">
        <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <label for="cod">
            <font color="black">Código</font>
          </label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-asterisk"></i>
              </div>
            </div>
            <input readonly type="text" id="id" formControlName="id" [(ngModel)]="usuario.id" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <label for="nome">
            <font color="black">Nome</font>
          </label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-user"></i>
              </div>
            </div>
            <input type="text" formControlName="nome" [(ngModel)]="usuario.nome" class="form-control">
          </div>
          <app-campo-invalid [mostrarErro]="verificaValidTouched('nome')" msgErro="O nome do usuario é obrigatório.">
          </app-campo-invalid>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <label for="username">
            <font color="black">Nome de usuario</font>
          </label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-user"></i>
              </div>
            </div>
            <input type="text" formControlName="username" [(ngModel)]="usuario.username" class="form-control">
          </div>
          <app-campo-invalid [mostrarErro]="verificaValidTouched('username')" msgErro="O nome de usuario é obrigatório.">
          </app-campo-invalid>
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <label for="email">
            <font color="black">Email</font>
          </label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-at"></i>
              </div>
            </div>
            <input type="email" formControlName="email" [(ngModel)]="usuario.email" class="form-control">
          </div>
          <app-campo-invalid [mostrarErro]="verificaValidTouched('email')" msgErro="O email do usuario é obrigatório.">
          </app-campo-invalid>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <label for="senha">
            <font color="black">Senha</font>
          </label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-key"></i>
              </div>
            </div>
            <input type="password" formControlName="senha" id="senha" [(ngModel)]="usuario.senha" class="form-control">
          </div>
          <app-campo-invalid [mostrarErro]="verificaValidTouched('senha')" msgErro="A senha do usuario é obrigatório.">
          </app-campo-invalid>
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <label for="confirmar">
            <font color="black">Confirmar Senha</font>
          </label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-key"></i>
              </div>
            </div>
            <input type="password" id="senhaConfirm" class="form-control">
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

          <button type="btn" class="btn btn-success" [disabled]="!formUsuario.valid" (click)="save()">Salvar
            <i class="fa fa-save"></i>
          </button>

          <button type="btn" class="btn btn-danger">Cancelar
            <i class="fa fa-times"></i>
          </button>

        </div>
      </div>

    </form>


  </div>
</div>