<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="30" placeholder="Filtro Global">


      <div id="table">
        <p-dataTable [value]="abastecimentos" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt scrollable="true" scrollWidth="100%"
          [style]="{'margin-top':'30px'}">
          <p-header>Lista de Abastecimentos</p-header>
          <p-column field="id" header="ID" [filter]="true" filterPlaceholder="ID" [style]="{'width':'150px'}"></p-column>

          <p-column field="veiculo_alocado.veiculo.placa" header="veiculo_Alocado" [filter]="true" filterMatchmode="equals" filterPlaceholder="Veiculo_Alocado"
            [style]="{'width':'150px'}">
          </p-column>
          <p-column field="fornecedor.nome" header="Fornecedor" [filter]="true" filterMatchMode="equals" filterPlaceholder="Fornecedor"
            [style]="{'width':'150px'}">
          </p-column>
          <p-column field="numero_cupom_fiscal" header="Número cupom fiscal" [filter]="true" filterMatchMode="equals" filterPlaceholder="Número do cupom fiscal"
            [style]="{'width':'200px'}">
          </p-column>
          <p-column field="data_abastecimento" header="Data Abastecimento" [filter]="true" filterMatchMode="equals" filterPlaceholder="Data de Abastecimento"
            [style]="{'width':'200px'}">
          </p-column>
          <p-column field="hodometro" header="Hodômetro" [filter]="true" filterMatchMode="equals" filterPlaceholder="Odometro" [style]="{'width':'150px'}">
          </p-column>
          <p-column field="quantidade_abastecida" header="Quantidade Abastecida" [filter]="true" filterMatchMode="equals" filterPlaceholder="Quantidade abastecida"
            [style]="{'width':'200px'}">
          </p-column>
          <p-column field="valor_total" header="Valor total" [filter]="true" filterMatchMode="equals" filterPlaceholder="Valor total"
            [style]="{'width':'150px'}">
          </p-column>
          <p-footer>
            <div class="ui-helper-clearfix" style="width:10%" class="noprint">
              <a routerLink="form">
                <button type="btn" class="btn btn-info" icon="fa-plus" label="Add" iconPos="left">Add
                  <i class="fa fa-plus"></i>
                </button>
              </a>
            </div>
          </p-footer>

        </p-dataTable>
      </div>
    </div>
  </div>
</div>
