<div [@routerTransition]>
  <div class="container-fluid">


    <nav aria-label="breadcrumb" *ngIf="mostrarBread">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['']">home</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/tecnicos']">tecnicos</a>
        </li>
        <li class="breadcrumb-item">
          <a [routerLink]="['/tecnicos/condutor']">condutor</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">form</li>
      </ol>
    </nav>

    <header>
      <h2>
        <font color="black">Cadastro de Condutor</font>
      </h2>
    </header>


    <form [formGroup]="formCondutor">

      <div class="row">
        <div class="form-group col-sm-12 col-md-3 col-lg-3 col-xl-3">
          <label for="cod">
            <font color="black">Código</font>
          </label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-asterisk"></i>
              </div>
            </div>
            <input readonly type="text" formControlName="id" [(ngModel)]="condutor.id" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">

        <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <label for="nome">
            <font color="black">Nome</font>
          </label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-id-badge"></i>
              </div>
            </div>
            <input type="text" formControlName="nome" [(ngModel)]="condutor.nome" class="form-control">
          </div>
          <app-campo-invalid
          [mostrarErro]="verificaValidTouched('nome')"
           msgErro="O nome do condutor é obrigatório.">
         </app-campo-invalid>
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <label for="categoria">
            <font color="black">Categoria</font>
          </label>
          <div class="input-group mb-2">
           <input type="text" formControlName="categoria" [(ngModel)]="condutor.categoria" class="form-control">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-id-card"></i>
              </div>
            </div>
          </div>
          <app-campo-invalid
          [mostrarErro]="verificaValidTouched('categoria')"
           msgErro="A categoria do condutor é obrigatória.">
         </app-campo-invalid>
        </div>

      </div>

      <div class="row">


        <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <label for="numero_cnh">
            <font color="black">Número de CNH</font>
          </label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-sort-numeric-down"></i>
              </div>
            </div>
            <input type="number" formControlName="numero_cnh" [(ngModel)]="condutor.numero_cnh" class="form-control">
          </div>
          <app-campo-invalid
          [mostrarErro]="verificaValidTouched('numero_cnh')"
           msgErro="O número de cnh do condutor é obrigatório">
         </app-campo-invalid>
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <label for="vencimento_cnh">
            <font color="black">Vencimento de CNH</font>
          </label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-calendar"></i>
              </div>
            </div>
            <input type="date" formControlName="vencimento_cnh" [(ngModel)]="condutor.vencimento_cnh" class="form-control" placeholder="__/__/____">
          </div>
          <app-campo-invalid
          [mostrarErro]="verificaValidTouched('vencimento_cnh')"
           msgErro="O vencimento da cnh do condutor é obrigatório.">
         </app-campo-invalid>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <button type="submit" class="btn btn-success" [disabled]="!formCondutor.valid" (click)="save()">Salvar
            <i class="fa fa-save"></i>
          </button>

          <button type="reset" class="btn btn-danger">Cancelar
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>


    </form>

  </div>
</div>